:host > div:nth-child(1) {
  height: 100vh;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}

form > div:nth-child(1) {
  display: grid;
}

:host > div:nth-child(1) > div:nth-child(1) {
  background-color: white;
  padding: 32px;
  border-radius: 4px;
  box-shadow: -1px 1px 4px 4px rgba(0, 0, 0, 0.2);
}

form input[type="email"] {
  margin-bottom: 16px;
}

form.ng-submitted input[type="email"].ng-invalid {
  border-color: red;
}

form input[type="email"].ng-dirty.ng-invalid {
  outline-color: red;
  border-color: red;
}

form.ng-submitted input[type="email"].ng-touched.ng-invalid {
  outline-color: red;
  border-color: red;
}
