#i1 {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#i2 {
  background-color: white;
  padding: 16px;
  max-width: 300px;
}

form > div {
  display: grid;
  width: 300px;
  padding: 4px 0;
}

form.ng-invalid.ng-submitted input {
  border-color: red;
}

form.ng-invalid.ng-submitted input.ng-pristine {
  outline-color: red;
}

input.ng-dirty.ng-invalid {
  outline-color: red;
}

input.ng-touched.ng-invalid {
  border-color: red;
}
