<div id="i1">
  <div id="i2">
    <div>Signup</div>
    <hr />
    <form #signupForm="ngForm" (submit)="onSubmit(signupForm)">
      <div>
        <label for="email">Email:</label>
        <input
          type="email"
          required
          name="email"
          [pattern]="pattern"
          #email
          ngModel
        />
        <p *ngIf="emailExists(email.value)" style="color: red; margin: 0">
          account with this email already exists
        </p>
      </div>
      <button
        [disabled]="emailExists(email.value)"
        mat-raised-button
        type="submit"
      >
        Submit
      </button>
    </form>
  </div>
</div>
