<div id="i1">
  <div id="i2">
    <div>Signup</div>
    <hr />
    <form
      *ngIf="!sentEmail && !emailVerified"
      #signupForm="ngForm"
      (submit)="onSubmit(signupForm)"
    >
      <div>
        <label for="email">Email:</label>
        <input
          type="email"
          required
          name="email"
          [pattern]="pattern"
          #email
          ngModel
        />
        <p *ngIf="emailExists(email.value)" style="color: red; margin: 0">
          account with this email already exists
        </p>
      </div>
      <button
        [disabled]="emailExists(email.value)"
        mat-raised-button
        type="submit"
      >
        Submit
      </button>
    </form>
    <div *ngIf="sentEmail && !emailVerified">
      <p>
        An email verification code is sent to your email. Please enter it in the
        input field below and submit.
      </p>
      <form
        #verificationCodeForm="ngForm"
        (submit)="verificationCodeSubmit(verificationCodeForm)"
      >
        <div>
          <label for="code">Verification Code:</label>
          <input type="number" required name="code" ngModel #code="ngModel" />
        </div>
        <button mat-raised-button type="submit">Submit</button>
      </form>
    </div>
    <div *ngIf="!sentEmail && emailVerified">
      <p>Your email is verified. Please set a password for your account.</p>
      <form #passwordForm="ngForm" (ngSubmit)="submitPassword(passwordForm)">
        <div>
          <label for="password">Password:</label>
          <input
            type="password"
            required
            name="password"
            ngModel
            #password="ngModel"
            [pattern]="passwordPattern"
            autocomplete="off"
          />
          <p *ngIf="password.errors?.['pattern']">
            password should be made of at least 8 alphanumeric characters
          </p>
        </div>
        <div>
          <label for="confirmPassword">Confirm Password:</label>
          <input
            type="password"
            required
            name="confirmPassword"
            ngModel
            #confirmPassword="ngModel"
            [pattern]="password.value"
            autocomplete="off"
          />
          <p *ngIf="confirmPassword.errors?.['pattern']">
            passwords do not match
          </p>
        </div>
        <button type="submit" mat-raised-button>Submit</button>
      </form>
    </div>
  </div>
</div>
<app-pending *ngIf="gettingEuList || sendingEmail || submitting"></app-pending>
