<div id="i1">
  <div id="i2">
    <form #loginForm="ngForm" (submit)="onSubmit(loginForm)">
      <h3>Login</h3>
      <hr />
      <div class="input">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          required
          autocomplete
          name="email"
          ngModel
        />
      </div>

      <div class="input">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          required
          autocomplete
          name="password"
          ngModel
        />
      </div>

      <div>
        <button type="submit" mat-raised-button>Submit</button>
        <a routerLink="/fp">forgot password?</a>
      </div>
    </form>
    <hr />
    <div style="width: 300px">
      <p>If you don't have an account yet. You can sign up.</p>
      <button type="button" mat-raised-button (click)="signUp()">
        Sign up
      </button>
    </div>
  </div>
</div>
<app-pending *ngIf="loggingIn"></app-pending>
